{% extends 'base.html.twig' %}

{% block title %}
    Página inicial
{% endblock %}

{% block body %}
    <header class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Page example</h1>
            <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam at aut,
                beatae corporis dicta explicabo fugit incidunt laboriosam libero natus neque obcaecati quaerat qui,
                quibusdam sapiente sunt! Eaque, veniam.</p>
        </div>
    </header>
{% endblock %}

{% block stylesheets %}

{% endblock %}
