{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        body {
            background: url("{{ asset('assets/img/header.jpg') }}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            height: 100%;
        }
    </style>
{% endblock %}

{% block body %}
    <form class="content" method="post" action="{{ path('check') }}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="text-center">Identifícate</h1>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" name="_username" autocapitalize="none"
                               required="required" placeholder="Email" tabindex="1"/>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-lg" name="_password" autocapitalize="none"
                               required="required" placeholder="Contraseña" tabindex="2"/>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-block btn-lg btn-primary" value="Entrar" tabindex="3"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}